* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* flex-wrap: nowrap; */
}

body {
  background-color: #802d00;
}

.AboutSection-1 {
  /* border: 1px solid red; */
  padding: 5%;
  max-width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.AboutSection-2 {
  border: 1px solid black;
  padding: 0.5%;
  display: flex;
  /* flex-direction: row-reverse; */
}

.image {
  max-width: 100%;
  height: auto;
  border: 1px solid black;
}

.ImageSection-1 {
  border: 1px solid brown;
  max-width: 10%;
  text-align: center;
  margin-right: 10px;
}

.SectionHeader-1 {
  border: 1px solid blue;
  flex-grow: 1;
  /* display: flex; */
}

.SectionHeader-2 {
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;
  width: 100%;
  border: 5px solid green;
  margin-bottom: 10px;
}

.Citem {
  background-color: #802d00;
}

.item1 {
  height: 140px;
  width: 80%;
  padding: 10px;
  flex-shrink: 2;
}

.item2 {
  flex-grow: 1;
  padding: 10px;
}

.SectionHeader-3 {
  border: 4px solid goldenrod;
  height: 300px;
}

.item3 {
  height: 70px;
  border: 4px solid grey;
  display: flex;
  padding: 10px;
  gap: 25px;
  font-family: sans-serif;
  cursor: pointer;
  margin-bottom: 10px;
}

.item4 {
  height: 215px;
  padding: 10px;
  display: flex;
  gap: 15rem;
}
